<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Stargate ACTS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/people" routerLinkActive="active">
                        <i class="bi bi-people-fill"></i> People Management
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/duties" routerLinkActive="active">
                        <i class="bi bi-clipboard-check"></i> Create Duty
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/history" routerLinkActive="active">
                        <i class="bi bi-clock-history"></i> Duty History
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>